{% extends "basepage.html" %}

{% block title %} Главная страница {% endblock %}

{% block content%}
<h1> Главная страница </h1>
<p>Сайт является сборником онлайн курсов, предназначенных для обучения различным навыкам и профессиям. На данном ресурсе вы можете проходить курсы или размещать свои.</p>
<p>Чтобы разместить свой курс, зарегестрируйтесь как "Преподаватель"</p>
<p>Каждый курс может состоять из лекций и видеоуроков. Некоторые курсы могут быть бесплатными, в то время как другие требуют оплату за доступ к учебному материалу.</p>

{% endblock%}